* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #162831;

    & .up {
        position: fixed;
        right: 50px;
        bottom: 100px;

    }

    & .up:hover {
        background-color: #018ABE;
    }

}

header {
    width: 1298px;
    height: 60px;

    margin: 30px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;


    & .logo {
        width: 60px;
        height: 60px;
        position: relative;

        & .logo_w {
            position: absolute;
            left: 14px;
            top: 13px;
        }

    }

    & ul {
        display: flex;
        gap: 50px;

        & li {
            list-style: none;

            & a {
                text-decoration: none;
                color: #FFF;
            }
        }
    }

    & button {
        width: 155px;
        height: 36px;
        padding: 9px;
        background-color: #018ABE;
        font-size: 13px;
        border-radius: 5px;
        color: #FFF;
        transition: all 1s linear
    }

    & button:hover {
        background-color: red;
        color: black;
    }
}

main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 150px;
    color: #FFF;



    & .index_box1 {
        width: 1296px;
        height: 600px;
        margin: auto;
        background-image: url('../img/bg_index_box1.svg');
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        & h1 {
            text-align: center;
        }
    }

    & .index_box2 {
        width: 1296px;
        height: 699px;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 100px;

        & h1 {
            text-align: center;
        }

        h1::before{
            content: url(../img/img_left_Rectangle.png);
            padding: 20px;
        }

        h1::after{
            content: url(../img/img_right_Rectangle.png);
            padding: 20px;
        }

        & .index_box2_cont {
            display: flex;
            gap: 24px;


            & .box1 {
                width: 416px;
                height: 540px;
                background-image: url('../img/index_box2_1.png');
                display: flex;
                align-items: flex-end;

                & p {
                    margin: 50px 50px;
                    font-size: 24px;
                }
            }

            & .box2 {
                display: flex;
                flex-direction: column;
                gap: 24px;

                & .box2_1 {
                    display: flex;
                    gap: 24px;



                    & .box2_cont {
                        width: 416px;
                        height: 258px;
                        display: flex;
                        align-items: flex-end;
                        background-image: url('../img/index_box2_2.png');

                        & p {
                            width: 336px;
                            margin: 40px 30px;
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }

    & .index_box3 {
        margin: auto;
        width: 1736px;
        height: 585px;
        display: flex;
        flex-direction: column;
        gap: 100px;

        & .box3_h1 {
            width: 300px;
            height: 59px;
            flex-shrink: 0;
            margin: auto;

            & h1 {
                text-align: center;
            }

            h1::before{
                content: url(../img/img_left_Rectangle.png);
                padding: 20px;
            }

            h1::after{
                content: url(../img/img_right_Rectangle.png);
                padding: 20px;
            }

        }

        & .img_control {

            margin: auto;
        }


        & .box3_content {

            display: flex;
            gap: 24px;



            & .fon_color1 {
                margin: auto;
                width: 500px;
                height: 276px;
                flex-shrink: 0;
                background: #0188be7a;
                border-radius: 10px;

                & .box3_text1 {
                    width: 410px;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 14px;
                    margin: auto;
                    color: rgba(255, 255, 255, 0.447);
                }


                & .name_1 {
                    color: rgba(255, 255, 255, 0.403);
                    margin: auto;
                    width: 410px;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 22.4px;

                }

            }

            & .fon_color2 {

                width: 636px;
                height: 350px;
                flex-shrink: 0;
                border-radius: 10px;
                background-color: #018ABE;

                & .name_2 {
                    margin: auto;
                    width: 516px;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 26px;
                }

                & .box3_text2 {
                    margin: auto;
                    width: 516px;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 19.6px;
                }

            }

            & .fon_color3 {
                margin: auto;
                width: 500px;
                height: 276px;
                flex-shrink: 0;
                border-radius: 10px;
                background-color: #0188be56;

                & .name_3 {
                    color: rgba(255, 255, 255, 0.434);
                    margin: auto;
                    width: 410px;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 22.4px;
                }

                & .box3_text3 {
                    color: rgba(255, 255, 255, 0.402);
                    margin: auto;
                    width: 410px;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 14px;

                }
            }

        }

    }

    & .index_box4 {
        flex-direction: column;

        width: 1076px;
        height: 1024px;
        flex-shrink: 0;
        display: flex;
        margin: auto;


        & .box4_h1 {
            margin: auto;
            width: 389px;
            height: 59px;
            flex-shrink: 0;

            h1 {
                text-align: center;
            }

            h1::before{
                content: url(../img/img_left_Rectangle.png);
                padding: 20px;
            }

            h1::after{
                content: url(../img/img_right_Rectangle.png);
                padding: 20px;
            }
        }
    }

    & .box4_content {

        display: flex;


        & .box4_text1 {

            margin: auto;
            width: 466px;
            height: 234px;
            flex-shrink: 0;
            margin-right: 100px;


            & p {
                margin-top: 30px;

            }


        }

        & .box4_img {

            border-radius: 10px;
            margin-top: 50px;
            width: 526px;
            height: 400px;
            flex-shrink: 0;
            background-image: url(../img/img_box4.png);
        }
    }

    & .box4_content2 {

        display: flex;



        & .box4_img2 {

            margin-top: 140px;
            display: flex;
            width: 526px;
            height: 365px;
            flex-shrink: 0;
            border-radius: 10px;
            background-image: url(../img/img_box4.png);

        }

        & .box4_text2 {

            margin-top: 140px;
            margin-left: 70px;

            & p {
                margin-top: 30px;
            }


        }
    }

    & .index_box5 {
        width: 1076px;
        height: 614px;
        flex-shrink: 0;
        margin: auto;
        display: flex;
        flex-direction: column;


        & .box5_h1 {


            & h1 {
                text-align: center;
            }
            h1::before{
                content: url(../img/img_left_Rectangle.png);
                padding: 45px;
            }

            h1::after{
                content: url(../img/img_right_Rectangle.png);
                padding: 45px;
            }

            

        }

        & .box5_cont {
            margin-top: auto;
            display: flex;

            

            & .box5_text {
                margin: auto;
                display: flex;

                & li {
                    list-style: none;
                    margin-top: 50px;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22.2px
                }
                li::before{
                    content:url(../img/img_left_Rectangle.png);
                    padding: 20px;

                }
            }

            & .img_box5 {

                width: 526px;
                height: 425px;





                & .img_css {

                    display: flex;
                    width: 526px;
                    height: 396px;
                    flex-shrink: 0;
                    background-image: url(../img/Box5_img.png);
                }

                & .txt {
                    margin-top: 30px;
                    text-align: center;
                    font-size: 21px;
                    font-style: normal;
                    line-height: 29.4px font-weight: 700;

                }
            }



        }

        & .sum {
            margin: auto;
            display: flex;
            flex-direction: column;


            & p {

                margin-top: 50px;
                margin-left: 150px;
            }
        }


    }









}




.newbox1 {

    gap: 24px;
    flex-direction: column;

    & .box2_cont {
        width: 416px;
        height: 258px;
        display: flex;
        gap: 24px;
        align-items: flex-end;
        background-image: url('../img/index_box2_2.png');
    }

    & p {
        width: 336px;
        margin: 40px 30px;
        font-size: 24px;
    }
}


.newbox2 {
    display: flex;
    gap: 24px;
    flex-direction: column;

    & .box2_cont {
        width: 416px;
        height: 258px;
        display: flex;
        align-items: flex-end;
        background-image: url('../img/index_box2_2.png');
    }

    & p {
        width: 336px;
        margin: 40px 30px;
        font-size: 24px;
    }




}

footer {
    display: flex;
    flex-direction: column;
    margin-top: 100px;

    & .index_ft_box1 {
        width: 1296px;
        height: 604px;
        flex-shrink: 0;
        margin: auto;
        display: flex;


        & .map {
            flex-direction: column;
            display: flex;
            width: 856px;
            height: 604px;
            flex-shrink: 0;
            background: url(../img/box5_map.png);
        }

        & .cont {
            margin-left: 50px;
            display: flex;
            flex-direction: column;

            & .ft_cont {
                width: 392px;
                height: 290px;
                flex-shrink: 0;
                background-color: #018ABE;
                border-radius: 10px;

                h1 {
                    margin-left: 45px;
                    margin-top: 35px;

                    width: 302px;
                    color: white;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 33.6px
                }

                & .txt {

                    
                    margin-left: 25px;
                    width: 302px;
                    height: 100px;
                    flex-shrink: 0;
                    color: white;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18.9px;

                    & p {
                        margin-top: 21px;


                    }

                    & .loc1::before {
                        padding: 20px;
                        content: url(../img/loc1_.svg);
                    }

                    & .loc2::before {
                        padding: 20px;
                        content: url(../img/metro_logo.svg);
                    }

                    & .loc3::before {
                        padding: 20px;
                        content: url(../img/loc3_img.svg);
                    }


                }

                & button {

                    padding: 9px 15px;

                    gap: 10px;
                    margin-top: 30px;
                    margin-left: 45px;
                }
            }

            & .ft_cont1 {
                width: 392px;
                height: 290px;
                flex-shrink: 0;
                background-color: #018ABE;
                margin-top: 24px;
                border-radius: 10px;

                h1 {
                    margin-left: 45px;
                    margin-top: 35px;

                    width: 302px;
                    color: white;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 33.6px
                }

                & .txt2{
                    margin-left: 25px;
                    width: 302px;
                    height: 100px;
                    flex-shrink: 0;
                    color: white;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18.9px;

                    & p {
                        margin-top: 21px;


                    }
                    & .loc4::before{
                        padding: 20px;
                        content: url(../img/loc1_.svg);

                    }

                    & .loc5::before{
                        padding: 20px;
                        content: url(../img/metro_logo.svg);


                    }

                    & .loc6::before{
                        padding: 20px;
                        content: url(../img/loc3_img.svg);

                    }
                }

                & button {

                    padding: 9px 15px;

                    gap: 10px;
                    margin-top: 30px;
                    margin-left: 45px;
                }

            }

        }


    }


    & .index_ft_box2{
        width: 1296px;
        height: 19px;
        flex-shrink: 0;
        margin: auto;
        display: flex;
        color: white;


        & .two{
            
            text-align: right;
        }
    }

}